<!-- <p>home works!</p> -->

<!-- <router-outlet></router-outlet> -->

<!-- <div class="afterffg1">
    <b><i><h1><span style="font-size: 50px;">Welcome to ICIN </span></h1></i></b>
    <b><span>{{vali}}</span></b>
</div> -->
<div class="container ff1gg">
    <div>
        <button (click)="logout()" style="background-color: rgb(107, 189, 185); border-color: rgb(107, 182, 189); margin-left: 1180px;">Logout</button>   
    </div>
</div>

<div class="container login1">
    <div class="box13 box11">
        <img src="{{viewphoto.photo}} " style="height: 80px; width: auto; border-radius: 100%;">
    </div>
    <div class="box13 box12">

        <div class="afterffg1">
            <b><i><h1><span>Welcome to ICIN </span></h1></i></b>
            <b><span>{{vali}}</span></b>
        
        </div>
    </div>
</div>
<hr>
<div class="container afterffg">
    
    <div class="box box1">
        <br>
        <a href="createbankaccount">
            <b><i><span style="font-size: medium;">Create bank-account</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../assets/add-user.png"  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
    <div class="box box2">
        <br>
        <a href="afterlogin">
            <b><i><span style="font-size: medium;">My Account</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../assets/bank-account.png"  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
    <div class="box box3">
        <br>
        <a href="">
            <b><i><span style="font-size: medium;">Offer & Discount</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../assets/new-offer.png"  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
    <div class="box box4">
        <br>
        <a href="requestcheque">
            <b><i><span style="font-size: medium;">Request ChequeBook</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../assets/check-book.png"  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
</div>

<div>
      
</div>