<!-- <p>homepage works!</p> -->
<div class="container home3">
  <div class="row">
    <b><i><p class="home2"> If slowness is observed during Login Page Loading , please refresh the page for better experience ICIN never ask for confidential
      information such an PIN and OTP from customers. Any such call be made only by a fraudster. Please do not share personal info. </p></i></b>
  </div>
</div>





<div class="container home1">
  <div class="box box4">
    <app-carousel></app-carousel>
  </div>


  <div class="box box2">
    <img src="../../assets/Black White Aesthetic New Instagram Post.png" alt="" style="width: 100%; height: 280px;">
  </div>
</div>
<hr>
<div class="container home1">
    <div class="box box1">
     <br>
      <b class="home4"><i><span>Personal Banking</span></i></b>
      <div class="home5">
        <b><a href="login"><button><span>Login</span></button></a></b>
        <br><br>
        <div class="container home6">
          <div class="box3">
            <i class="fa-solid fa-user"></i><br>
            <b><a href="signup" style="color: aqua;"><span>New User/</span><br><span>Register</span></a></b>
          </div>
          <div class="box3">
            <i class="fa-regular fa-circle-question"></i><br>
            <!-- <i class="fa-thin fa-circle-question"></i><br> -->
            <b><a href="" style="color: aqua;"><span>How Do I/</span><br><span>Help You</span></a></b>
          </div>
          <div class="box3">
            <i class="fa-solid fa-phone"></i><br>
            <b><a href="" style="color: aqua;"><span>Customer</span><br><span>Care</span></a></b>
          </div>
          <div class="box3">
            <i class="fa-solid fa-lock"></i><br>
            <b><a href="" style="color: aqua;"><span>Lock &</span><br><span>Unlock User</span></a></b>
          </div>
        </div>
       </div>
       <br>
       <b><p><i>ICIN's internet banking offers online control for personal banking</i></p></b>
    </div>


    <div class="box box2">
      <br>
      <b class="home4"><i><span>Corporate Banking</span></i></b>
      <div class="home5">
        <!-- <input type="search" value="Search"> -->
        <b><a href=""><button><span>Login</span></button></a></b>
        
        <br><br>
        <b><i>Have you tried our new simplified and intuitive business banking platform? Log in to yonobusiness.sbi to avail business banking services.</i></b>
        <div class="container home6">
          <div class="box3">
            <i class="fa-solid fa-user"></i><br>
            <b><a href="" style="color: aqua;"><span>New User/</span><br><span>Register</span></a></b>
          </div>
          <div class="box3">
            <i class="fa-regular fa-circle-question"></i><br>
            <b><a href="" style="color: aqua;"><span>How Do I/</span><br><span>Help You</span></a></b>
          </div>
          <div class="box3">
            <i class="fa-solid fa-phone"></i><br>
            <b><a href="" style="color: aqua;"><span>Customer</span><br><span>Care</span></a></b>
          </div>
          <!-- <div class="box3">
            <i class="fa-solid fa-lock"></i><br>
            <b><a href="" style="color: aqua;"><span>Lock &</span><br><span>Unlock User</span></a></b>
          </div> -->
        </div>
       </div>
       <br>
       <b><p><i>ICIN's internet banking offers online control for personal banking</i></p></b>
    </div>
  </div>

  <router-outlet></router-outlet>