<!-- <p>homepage1 works!</p> -->
<div class="container">
  <div class="card">
    <b><i><span><h1 class="card-header home1">Welcome to our Banking ICIN-Website</h1></span></i></b>
    <div class="card-body">
      <p class="card-text"><b><i>ICIN-Website</i></b>
        <i> Welcome to our Banking Website, where we pride ourselves on providing a secure and user-friendly platform for all your
             banking needs. Our website offers a range of services to make your banking experience as convenient and hassle-free as 
             possible, with features designed to meet your specific requirements. Whether you need to check your balance, transfer 
             funds, or manage your account, our website has everything you need. Join us today and experience a smarter, simpler way 
             to bank</i></p>
    </div>
  </div>
</div>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr class="header-hr">
          <div class="element">
              <b><span>
              <a class="element1">Services</a> |
              <a class="element1">Mobile Banking</a> |
              <a class="element1">FAQ</a> |
              <a class="element1">Corporate Website</a> |
              <a class="element1">Personal</a> |
              <a class="element1">NRI</a> |
              <a class="element1">SME</a> |
              <!-- <a class="element1">Wholesale</a> | -->
              <a class="element1">Agri</a> |
              <a class="element1">mCash</a>  | 
              <a class="element1">Apply Now</a> |
              <a class="element1">ICIN Loan</a>   |  
              </span></b>
          </div>
          <br>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <hr>
    <app-homepage></app-homepage>
  </div>
  <!-- <app-home></app-home> -->
