<!-- <p>navbar works!</p> -->

<section class="">
    <nav class="navbar navbar-inverse fixed-top">
      <div class="container-fluid abba ">
        <div class="navbar-header">
          <!-- <a class="navbar-brand" routerLink="icin" ><img src="../../assets/q2.png" alt="" class="nav2"></a> -->
          <a class="navbar-brand" routerLink="icin" >ICIN Bank  <i class="fa-solid fa-building-columns"></i></a>
        </div>
        <ul class="nav navbar-nav">
          <!-- <li><a routerLink="home">Home</a></li>  -->
          <!-- <li><a routerLink="#">Doctor</a></li>
          <li><a routerLink="viewmedicine">Medicine</a></li>
          <li><a routerLink="#">Lab Test</a></li>
          <li><a routerLink="cart">Cart</a></li> -->
          <!-- <li><a routerLink="insert">Insert Product</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div class="navbar-header">
            <!-- <a class="navbar-brand" routerLink="icin" ><img src="../../assets/q2.png" alt="" class="nav2"></a> -->
            <a class="navbar-brand" routerLink="icin" >ICIN Bank  <i class="fa-solid fa-building-columns"></i></a>
          </div>
          <!-- <li><a routerLink="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
          <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
  </section>
  <router-outlet></router-outlet>