<!-- <p>adminafterlogin works!</p> -->
<!-- <app-carousel></app-carousel> -->
<!-- <div class="container ff1gg">
    <div class="afterffg1">
        <b style="color: rgb(255, 68, 0);"><i><h1><span>Welcome to ICIN <br> <b style="color: rgb(2, 251, 255);">Admin DashBoard</b> </span></h1></i></b>
        <b style="color: rgb(0, 255, 170);"><span>MR.{{vali}}</span></b>
    </div>
</div> -->

<div class="container ff1gg">
    <div>
        <button (click)="logout()" style="background-color: rgb(120, 196, 199); border-color: rgb(121, 212, 215); margin-left: 1180px;">Logout</button>   
    </div>
  </div>
  
  <div class="container ff1gg">
    <div class="box13 box11">
        <!-- <img src="{{viewphoto.photo}} " style="height: 80px; width: auto; border-radius: 100%;"> -->
        <img src="../../../assets/admin-panel.png" style="border-radius: 100%; width: 34%;">
    </div>
    <div class="box13 box12">
  
        <div class="afterffg1">
            <b><i><h1><span>Admin DashBoard <i class="fa-brands fa-superpowers"></i></span></h1></i></b>
            <b><span>{{vali}}</span></b>
        
        </div>
    </div>
  </div>


  
<hr>
<div class="container afterffg">
    <div class="box box1">
        <br>
        <a href="adminaccountholderview">
            <b><i><span style="font-size: medium;">Account  Holder View</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../assets/account.png"  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
    <div class="box box2">
        <br>
        <a href="">
            <b><i><span style="font-size: medium;">Cheque Book Requests</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../../assets/cheque.png "  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
    <div class="box box3">
        <br>
        <a href="">
            <b><i><span style="font-size: medium;">Account transactions</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../../assets/transaction.png"  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
    <div class="box box4">
        <br>
        <a href="">
            <b><i><span style="font-size: medium;">Savings details</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../../assets/saving.png"  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
</div>
<!-- <app-carousel></app-carousel> -->
<br>
<br>
<div class="container afterffg">
    <div class="box box1">
        <br>
        <a href="">
            <b><i><span style="font-size: medium;">Profile settings</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../../assets/settings.png"  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
    <div class="box box2">
        <br>
        <a href="">
            <b><i><span style="font-size: medium;">ICIN Digi Safe</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../assets/call-center.png"  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
    <div class="box box3">
        <br>
        <a href="addmoney">
            <b><i><span style="font-size: medium;">ICIN-Cash Add-Money</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../assets/atm.png"  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
    <div class="box box4">
        <br>
        <a href="">
            <b><i><span style="font-size: medium;">Apply For Loan</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../assets/signing.png"  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
</div>
<br><br>
<!-- <div class="container afterffg">
    <div class="box box1">
        <br>
        <a href="">
            <b><i><span style="font-size: medium;">Loyalty Rewards</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../assets/hand-gesture.png"  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
    <div class="box box2">
        <br>
        <a href="">
            <b><i><span style="font-size: medium;">IPO/ASBA</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../assets/ipo.png"  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
    <div class="box box3">
        <br>
        <a href="">
            <b><i><span style="font-size: medium;">ICIN Passbook</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../assets/passbook.png"  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
    <div class="box box4">
        <br>
        <a href="">
            <b><i><span style="font-size: medium;">Lifestyle</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../assets/needs.png"  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
</div>



<div class="container afterffg">
    <div class="box box1">
        <br>
        <a href="">
            <b><i><span style="font-size: medium;">Door Step Banking</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../assets/delivery.png"  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
    <div class="box box2">
        <br>
        <a href="">
            <b><i><span style="font-size: medium;">Other</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../assets/other.png"  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
    <div class="box box3">
        <br>
        <a href="">
            <b><i><span style="font-size: medium;">My Profile</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../assets/user.png"  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
    <div class="box box4">
        <br>
        <a href="">
            <b><i><span style="font-size: medium;">Manage Cards</span></i></b>
        <div>
            <div class="col-md-3" style="text-align: center;">
              <div class="col-md-3">
                <div class="card" style="width: 21rem;">
                    <img src="../../assets/credit-card.png"  class="imgepp" alt="">
                </div>
              </div>
            </div>
        </div>
        </a>
    </div>
</div> -->
<!-- <router-outlet></router-outlet> -->